<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIDI Sequence Generator and EEG Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3js.css') }}">



<script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0"></script>

<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

 <!-- Import the css file -->


 <!-- You can change 0.160.0 to any other availble Three.js version to match your requirements -->
 
 <script type="importmap">
     {
         "imports": {
             "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
             "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
         }
     }
    </script>


</head>

<body>

<div class="container-fluid">

<div class = "midi_generator">
    <div>
        <input type="file" id="midiFileInput" accept=".mid,.midi" />
    </div>
    
        <section id="section1">
            <h1>MIDI Sequence Generator</h1>
            <midi-player src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid" sound-font visualizer="#section1 midi-visualizer"></midi-player>
            <midi-visualizer id="player" type="piano-roll" src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid"></midi-visualizer>
        </section>

        <div id="controls">
            <input type="number" id="maxValueInput" placeholder="Enter Sequence Length" step="10" />
            <br>
        
            <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
            <p>Temperature: <span id="temperatureDisplay"></span></p>
            <br>

        <button id="generateButton" class="btn btn-primary">Generate MIDI Sequence</button>
        <button id="clearContextButton" class="btn btn-secondary">Clear Context</button>

        <div class="checkbox-container">
            <input type="checkbox" id="noVA">
            <label for="noVA" class="checkbox-label">Use Valence Arousal Quadrant Values</label>
        </div>
        <a href="#"id="downloadButton" style="display: none;">
            <button >Download MIDI Sequence</button>
        </a>
    </div>


    <div id="quadrants">
       <canvas id="canvas" width="450" height="450" style="border:5px solid #ffffff"></canvas>
       
    </div>

</div>

<div class="threejs">

 <!-- This canvas is the one you will use to display your Three.js code. -->
 <div id="info">Example Number: <span id="exampleNum">0</span>
</div>

<div>

 <label for="interpolationSlider">Interpolation Frame Rate:</label>
 <input type="range" id="interpolationSlider" min="1" max="60" value="30">
 <button id="randomButton">New example</button>


</div>

 <div id="ThreeJsCanvas"></canvas>

 <!-- The import should happen after creating the other HTML elements since you will be importing them -->
<script src="{{ url_for('static', filename='music_generator_script.js') }}"></script>

 <script type="module" src="{{ url_for('static', filename='threejs_script.js') }}"></script>


</div>

</div>

</div>




</body>


</html>